<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <context-param>
        <param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
	<servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.form</url-pattern>
    </servlet-mapping>
	
		
	<servlet>
		<description>
		</description>
		<display-name>MailServlet</display-name>
		<servlet-name>MailServlet</servlet-name>
		<servlet-class>com.appdynamicspilot.servlet.MailServlet</servlet-class>
	</servlet>



	
	<servlet-mapping>
		<servlet-name>MailServlet</servlet-name>
		<url-pattern>*.mailservlet</url-pattern>
	</servlet-mapping>

	
     <!-- The Usual Welcome File List -->
	  <welcome-file-list>
	    <welcome-file>/index.jsp</welcome-file>
	  </welcome-file-list>
    <session-config>
      <session-timeout>30</session-timeout> 
    </session-config>

  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/jsp/admin/500.jsp</location>
  </error-page>

  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>	 	 
   
</web-app>
